.title{
    width: 100%;
    height: 60vh;
}
.category{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 80px;
    
}
.bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(192, 192, 192, 0.5);
    width: 100%;
    height: 120vh;
}
@media screen and (max-width: 1024px){
    .category{
        padding: 0;
    }
}
@media screen and (max-width: 768px){
    .category{
        padding: 0;
    }
    .bg{
        height: 100vh;
    }
}