html,body{
    scroll-behavior: smooth;
}
.App .cont{
    width: 100%;
    height: 120vh;
    position: absolute;
}
.App>a{
    visibility: hidden;
    position: absolute;
}
.App .in{
    width: 40px;
    height: 40px;
    background-color: #57746A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    position: fixed ;
    right: 40px;
    bottom: 20px;
    scroll-behavior: smooth;
    transition: .1s !important;
    color: white;
    text-decoration: none;
    z-index: 888;
}
@media screen and (max-width: 425px){
    .App .in{
        width: 35px;
        height: 35px;
        font-size: 26px;
    }
}
